:root {
    --background: rgba(186, 173, 248, 1.0);
    --quoteground: rgba(186, 173, 248, 0.80);
    --cardcolor: #A5FFD6;
}
*, *::before, *::after{
    box-sizing: border-box;
}
::selection{
    background: var(--background);
    color: black;
}
body {
    margin: 0px;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
.container{
    display: grid;
    grid-template-columns: 1.5fr 2fr 0.5fr;
    grid-template-rows: 150px;
}
.heading-1{
    color: var(--background);
    padding-top: 100px; /*so that it's under nav bar, idk long term solution yet*/
    grid-column: 2/3;
}
.heading{
    color: var(--background);
    grid-column: 2/3;
}
.para{
    color: white;
    grid-column: 2/3;
    font-size: 1.3rem;
}
img{
    padding-top: 130px;
    margin-left: 100px;
    grid-column: 1/2;
}