:root {
    --background: rgba(186, 173, 248, 1.0)
}
.container{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
}
.title{
    padding-top: 100px;
    color: var(--background);
    grid-column: 2/5;
    display: grid;
    place-items: center;
    font-size: 2rem;
}
.para{
    color: white;
    grid-column: 2/5;
    font-size: 1.5em;
}
blockquote{
    color: var(--background);
    grid-column: 2/5;
    font-size: 2em;
}