:root {
    --background: rgba(186, 173, 248, 1.0)
}
.intro{
    margin-top: 20px;
    position: relative;
    color: rgb(241, 238, 238);
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 80%;   
    font-size: 1.3em;
}
.list{
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 1.2em;
    list-style: none;
}
.list li::before{
    content: "\2022";
    color: var(--background);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.impImg{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 80%;   

}
.titleImp{
    padding-top: 100px;
    margin-top: 0px;
    color: white;
    float: center;
    text-align: center;
}
.sub-title{
    font-size: 1.5em;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: var(--background)
}
@media screen and (min-width: 900px){
    .impImg{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 60%;   
    }
    .intro{
    margin-top: 20px;
    position: relative;
    color: rgb(241, 238, 238);
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 60%;   
    font-size: 1.3em;
    }
    .list{
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    list-style-type: none;
    }
    .list li::before{
    content: "\2022";
    color: var(--background);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    }
    .sub-title{

    font-size: 1.5em;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    color: var(--background)
    }
}